*{
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
}

h1{
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 50px;
}

#endo{
    color :rgb(65, 87, 161);
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(4, 67, 42);
    font-size: 50px;
    border: 1px black;
}

#user{
    font-size: 18px;
    margin-right: 20px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    color : black;
    border : 1.5px solid rgb(187, 180, 180);
    border-radius: 20px;
}

nav li{
    font-size: 15px;
    margin-right : 10px;
    margin-left : 5px;
    color: #000;
}
